html, body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: lavender;
    color: black;
    height: 93%;
}

/* NAVBAR */
.navbar {
    width: 100%;
    max-width: 100%;
    background-image: url('../../images/background/nav2.jpg');
    background-size: cover;
    background-position: center center;
    height: 56px;
    min-height: 100px;
}

.nav {
    z-index: 999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
    padding-left: 10%;
    background-color: rgba(0, 0, 50, 0.7);
    list-style-type: none;
    margin: 0;
    position: fixed;
    line-height: 100px;
}

.nav li {
    float: left;
    list-style: none;
}

.nav li a {
    font-size: 1.3em;
    display: block;
    color: white;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    min-height: 100px;
}

.nav li a:hover {
    background-color: rgba(0, 0, 60, 0.7);
}

.nav .active a {
    text-decoration: underline;
}

.teaser {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: steelblue;
    font-family: 'Kaushan Script', cursive;
}

/* BOX COLUMNS */
.row {
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}
.col-33 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.333333%;
    max-width: 31.333333%;
    float: left;
    margin: 1%;
}

.col-66 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 64.666666%;
    max-width: 64.666666%;
    margin: 1%;
    float: left;
}


/* articles in home page */
.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 300px;
    text-align: center;
    border-radius: 15px;
}

.photo-box img:hover {
    transform: scale(1.05);
}

.photo-box-thin {
    height: 120px;
}


.photo-box img {
    max-width: 100%;
    height: auto;
    min-height: 300px;
    transition: transform 0.2s ease-in-out;
}

.photo-box aside {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em 0.5em;
    color: white;
    width: 100%;
    font-size: 80%;
    text-align: right;
    background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */

}

.photo-box aside span {
    font-size: 1.5em;
}

.photo-box aside span a {
    color: #ccc;
    text-decoration: none;
}

/* admin vertical menu */
.vertical-menu {
    width: 15%;
    height: 100%;
    float: left;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #ddd;
    color: white;
}

.admin-content {
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 85%;
    float: left;
    min-height: 100%;
    background-color: #f2f2f2;
}

.admin-content .dashboard {
    margin-top: 100px;
    font-size: 2em;
    line-height: 60px;
    color: #2098D1;
}

/* admin login page */
.admin-login {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 30%;
    background-color: whitesmoke;
    text-align: center;
    color: #140000;
}

.admin-login-content {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 70%;
    background-image: url('../../images/background/new_york.jpg');
    background-size: cover;
}

.admin-content-caption {
    color: #f2f2f2;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.admin-content-caption h1 {
    font-size: 4em;
}

.admin-login-container {
    height: 99.5%;
    border-top: solid 4px black;
}

.admin-login input[type=email], input[type=password], input[type=text] {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-top: 40px;
}
.admin-login input[type=email] {
    margin-top: 80px;
}

.admin-login input[type=submit] {
    margin-top: 50px;
    padding:5px 15px;
    background: #2098D1;
    color: whitesmoke;
    border: 0 none;
    cursor:pointer;
    border-radius: 8px;
    font-size: 1.5em;
}

.admin-login-credentials {
    margin-top: 150px;
}

footer {
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    color: steelblue;
    margin-bottom: 30px;
}

/* article show */

.photo-box-article, .text-box-article {
    margin-top: 40px;
    overflow: hidden;
    position: relative;
    max-height: 600px;
    text-align: center;
    border-radius: 15px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.photo-box-article img:hover {
    transform: scale(1.05);
}

.photo-box-article img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.photo-box-article aside {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em 0.5em;
    color: white;
    width: 100%;
    font-size: 80%;
    text-align: right;
}

.photo-box-article aside span {
    font-size: 2em;
}

.photo-box-article aside span a {
    color: #ccc;
    text-decoration: none;
}

.article-time {
    color: #2098D1;
    margin-left: 15%;
    margin-top: 20px;
    float: left;
}
.article-rate {
    color: #2098D1;
    float: right;
    margin-top: 20px;
    margin-right: 15%;
}

.article-content {
    color: #2098D1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
}

.article-content a {
    text-decoration: underline;
    font-weight: bold;
    color: #1088C1;
}

.article-add-comment {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    color: #2098D1;
}

.article-comments {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    color: #2098D1;
}

.article-single-comment {
    background-color: #f2f2f2;
    color: #141414;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10%;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.article-single-comment h4 {
    font-weight: normal;
    color: darkgray;
    margin-bottom: 0;
}

/* admin articles table */
.articles-list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #303030;
    color: #f2f2f2;
}

.articles-list td, .rticles-list th {
    border: 1px solid #ddd;
    padding: 8px;
}

.articles-list tr:nth-child(even){
    background-color: #f2f2f2;
    color: #140000;
}

.articles-list tr:hover {background-color: #ddd;}

.articles-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.articles-list a {
    margin-right: 5px;
    margin-left: 5px;
    padding:5px 15px;
    background: #2098D1;
    color: whitesmoke;
    border: 0 none;
    cursor:pointer;
    border-radius: 8px;
    text-decoration: none;
}

. articles-list a:hover {
    text-decoration: underline;
}

.btn {
    padding:5px 15px;
    background: #2098D1;
    color: whitesmoke;
    border: 0 none;
    cursor:pointer;
    border-radius: 8px;
    font-size: 1.5em;
}

/* admin articles create / edit */
.articles-form-title {
    margin-left: 10%;
    width: 40%;
    float: left;

}

.articles-form-slug {
    margin-left: 10%;
    width: 40%;
    float: left;
}

.articles-form {
    margin-top: 50px;
    color: #141414;
    font-size: 1.2em;
}

.articles-form input[type=text] {
    margin-top: 0;
    margin-left: 20px;
    width: 400px;
    border-radius: 2px;
    float: left;
}

label {
    display: block;
    float: left;
}

input[type="checkbox"] {
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #2a3f54;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked {
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.articles-form-image {
    overflow: hidden;
    position: relative;
    margin: 5%;
    width: 40%;
    max-height: 300px;
    float: left;
}

.articles-form-image img {
    max-width: 100%;
    height: auto;
}

.article-form-checkboxes {
    margin: 5%;
    width: 40%;
    max-height: 300px;
    float: left;
}

.article-form-textarea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.article-form-error {
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #F0AD4E;
}

.btn-article-submit {
    margin-top: 30px;
    margin-bottom: 40px;
}

.display-none {
    display: none;
}

#article-image {
    margin-top: 20px;
    border-radius: 10px;
}



/* SLIDER */
/* --------------------------------------------------------------- */
#slider {
    margin: 2em auto;
    width: 1200px;
    overflow: hidden;
    border-radius: 10px;
}

#slider-wrapper {
    width: 9999px;
    height: 400px;
    position: relative;
    transition: left 400ms linear;
}

.slide {
    float: left;
    width: 1200px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
}

.caption {
    margin: 0;
    position: absolute;
    z-index: 100;
    bottom: -2em;
    left: 0;
    width: 100%;
    height: 2em;
    line-height: 2;
    text-align: center;
    background: rgba( 0, 0, 0, 0.6 );
    color: #fff;
    transition: bottom 500ms ease-in;
}
.caption.visible {
    bottom: 0;
}

#slider-nav {
    margin: 1em 0;
    text-align: center;
}

#slider-nav a {
    width: 2em;
    height: 2em;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    color: #000;
    display: inline-block;
    line-height: 2;
    margin-right: 0.5em;
}

#slider-nav a.current {
    border-color: #000;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: goldenrod;
}


.user-login {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: border-box;
    width: 70%;
}

.user-login input[type="email"], input[type=password], input[type=submit] {
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #141414;
    border: solid .5px #141414;
    height: 30px;
    width: 250px;
    padding: 5px;
}

.user-login input[type=submit] {
    background-color: #4CAF50;
    border: solid 2px #2a3f54;
    color: #f2f2f2;
    margin-top: 40px;
    margin-bottom: 50px;
}

.user-login input[type=submit]:hover {
    cursor: pointer;
}

.user-content {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: border-box;
    height: 100%;
}

.add-article-btn {
    margin-bottom: 30px;
}

.ratio:hover {
    cursor: pointer;
}

.ratio-selected {
    color: goldenrod;
}